.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    border-bottom: 1px solid #e0dada;
}

.header__logo {
    font-size: 1rem;
    color: #333;
    margin: 0;
}

.header__menu {
    display: flex;
    gap: 25px;
}

.header__link {
    text-decoration: none;
    font-size: 0.9rem;
    color: #555;
}

.header__link:hover {
    color: black;
}