.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 35px;
    border-bottom: 0.7px solid #e0dada;
    width: 100%;
    box-sizing: border-box;
}

.header__logo {
    font-size: 0.65rem;
    color: black;
    margin: 0;
    text-decoration: none;
    padding: 0 20px;
}

.header__menu {
    display: flex;
    gap: 25px;
    padding: 0 20px;
}

.header__link {
    text-decoration: none;
    font-size: 0.7rem;
    color: rgba(152, 144, 152, 0.667);
}

.header__link:hover {
    color: black;
}